<div id="chat-container" class="flex flex-col  h-screen ">
  <!-- Messages container -->
  <div id="messages" class="flex-1 overflow-y-auto ml-32 ">
  <app-chat-message *ngFor="let msg of messages" [message]="msg"
                    [ngClass]="{
      'justify-end': msg.sender !== currentPeerId,
      'justify-start': msg.sender === currentPeerId
    }" class="flex">
  </app-chat-message>
</div>

  <!-- Input area at the bottom -->
  <div id="input-area" class="flex flex-row p-2 h-16 ml-4  ">
    <input
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      placeholder="Type a message..."
      class="w-full p-2 bg-[#212121] text-white rounded-lg ml-32" />
    <button (click)="sendMessage()" class="mb-10 p-6 h-12 w-12 flex items-center justify-center rounded-full  bg-[#8774e1] text-white">
      <embed src="/assets/send.png">
    </button>
  </div>
</div>
